h1{
    color: #1C1018;
    font-family: 'Gemunu Libre', sans-serif;
    border-bottom: 2px solid rgb(253, 49, 83);
    border-right: 2px solid rgb(253, 49, 83);
    width: 350px;
    box-shadow: 5px 5px 7px rgb(50,40,50);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-flow: column warp;
    flex-shrink: 1;
    align-content: stretch;
}
img{
    width: 450px;
    height: 350px;
    margin: 10px;
    transition: all 1.5s;
}
img:hover{
    transform: scale(1.1);
}
